<!-- header -->
<myresource cs-resource="{'account_css':'/skillopedia//skillopedia/lib/css/account.css','media_css':'/skillopedia//skillopedia/lib/css/media.css'}"></myresource>
<div ng-include="'/skillopedia//skillopedia/templates/header.html'"></div>
<div class="wrap">
    <div class="section">
        <div class="course-tip">
            <h2>Create your course</h2>
            <p>Start Skillpier from here</p>
            <h4><i class="fa fa-archive" aria-hidden="true"></i>Manage your own business</h4>
            <p>Set your own rates.</p>
            <h4><i class="fa fa-paper-plane" aria-hidden="true"></i>Publish your courses</h4>
            <p>You can create new courses and upload course profiles at your own convenience.</p>
            <h4><i class="fa fa-users" aria-hidden="true"></i>Reach new clients</h4>
            <p>Clients will contact you to schedule their training session after purchasing their course. Clients may also schedule their training session when placing their order.</p>
            <p></p>
            <p>If you have any questions regarding creating your course, please contact us at:</p>
            <p>Email: <a href="mailto:administrator@skillpier.com">administrator@skillpier.com</a></p>
            <p>Tel: 714-213-9873</p>
        </div>
        <form class="crease_coursewrap pull-left" name="createCourseForm" ng-submit="ajaxForm()">
            <div class="step" ng-form="courseForm">
                <div class="m-session pull-left clearfix">
                    <div class="title-input">
                        <span><b class="text-danger"> * </b>Course Title</span>
                        <div class="course-input">
                            <input type="text" name="title" ng-model="input.title" ng-required="true" placeholder="Enter course title" class="full-width" />
                        </div>
                    </div>
                </div>
                    <div class="m-session pull-right clearfix">
                    <div class="title-input">
                        <span><b class="text-danger"> * </b>Category</span>
                        <div class="u-input">
                            <input type="text" name="category" ng-model="input.category" ng-required="true" placeholder="Enter category" class="full-width" />
                        </div>
                    </div>
                </div>
                <div class="title-input">
                    <span class="clearfix"><b class="text-danger"> * </b>About Course</span>
                    <textarea class="full-width" rows="8" name="overview" ng-model="input.overview" ng-required="true" placeholder="Tell us your experience and story "></textarea>
                </div>
                <div class="title-input">
                    <span><b class="text-danger"> * </b>Poster - the icon for this course</span>
                    <div class="open-img" flow-init="{singleFile:true}" ng-controller="uploadPosterController" flow-btn>
                        <img ng-src="/skillopedia/images/upload.png" ng-if="!input.poster" class="full-width full-height" alt="">
                        <img ng-src="{{staticImageUrl + input.poster}}" class="full-width full-height" ng-if="input.poster" alt="">
                    </div>
                    <input type="hidden" name="poster" required ng-model="input.poster">
                </div>
                <div class="title-input">
                    <span><b class="text-danger"> * </b>Picture</span>
                    <div class="open-img" ng-repeat="cover in input.covers track by $index" ng-form="coverForm">
                        <img ng-src="{{staticImageUrl + cover}}" class="full-width full-height" err-src="/skillopedia/images/error.jpg" alt="">
                        <input type="hidden" name="cover" required ng-model="cover">
                        <a ng-click="remove_cover(cover)" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="open-img" flow-init="{singleFile:true}" ng-controller="uploadCoversController" flow-btn>
                        <img ng-src="/skillopedia/images/upload.png" class="full-width full-height" alt="">
                    </div>
                </div>
                <div class="title-input">
                    <span><b class="text-danger" ng-if='input.videos.length>0'> * </b>Video, e.g. <code class="text-primary">http://www.youtube.com/watch?v=xxx</code><div class="pull-right" ng-click="add_video()"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 26px;color: #00E370;"></i></div></span>
                    <div class="remove-input" ng-repeat="video in input.videos track by $index" ng-form="videoForm" style="margin-bottom:15px;">
                        <input type="text" ng-model="video.url" class="full-width" ng-required="true" placeholder="http://www.youtube.com/watch?v=xxx" />
                        <div class="course-videoremove" ng-click="remove_video(video)">remove</div>
                    </div>
                </div>
                <div class="title-input">
                    <div class="m-session pull-left">
                        <span><b class="text-danger"> * </b>Session Length (minutes) <b class="text-danger" ng-if="courseForm.course_duration.$invalid && courseForm.course_duration.$dirty"> (Number Only) </b></span>
                        <div class="u-input">
                            <input type="number" min="30" name="course_duration" ng-model="input.course_duration" ng-required="true" ng-pattern="/^\d+$/" class="full-width" placeholder="30" class="full-width" />
                        </div>
                    </div>
                    <div class="m-session pull-right">
                        <span><b class="text-danger"> * </b>Session Rate (credit) <b class="text-danger" ng-if="courseForm.rate.$invalid && courseForm.rate.$dirty"> (Number Only) </b></span>
                        <div class="u-input">
                            <input type="number" min="0" name="rate" ng-model="input.rate" ng-required="true" ng-pattern="/^\d+$/" class="full-width" placeholder="Session Rate,(credit)" class="full-width" />
                        </div>
                    </div>
                </div>
                <div class="title-input">
                    <span><b class="text-danger"> * </b>Service Way</span>
                    <div class="m-check clearfix">
                        <label class="u-check" ng-class="{'text-primary':input.travel_to_session == '1'}">
                            <input type="radio" class="hide" ng-model="input.course_type" value="1">
                            <i class="fa" ng-class="{'fa-circle':input.course_type == '1','fa-circle-o':input.course_type == '2'}"></i> Offline Service
                        </label>
                        <label class="u-check" ng-class="{'text-primary':input.travel_to_session == '2'}">
                            <input type="radio" class="hide" ng-model="input.course_type" value="2">
                            <i class="fa" ng-class="{'fa-circle':input.course_type == '2','fa-circle-o':input.course_type == '1'}"></i> Online Service
                        </label>
                    </div>
                </div>
                <!-- session -->
                <div class="title-input" ng-if="input.course_type == '1'">
                <div ng-show="location_mode == 'preview'">
                    <div class="title-input">
                        <span>Location</span>
                        <div class="clearfix">
                            <div class="location">
                                <label class="pull-left">{{format_address}}</label>
                                <div class="course-location pull-right" ng-click="edit_location()">Edit Location</div>
                            </div>
                        </div>
                        <div class="section sm map-section">
                            <div style="height:300px;border:1px solid #d2d2d2" id="map"></div>
                        </div>
                    </div>
                </div>
                <div ng-show="location_mode == 'edit'" ng-form="locationForm">
                    <div class="title-input">
                        <span><b class="text-danger"> * </b>Location<b class="text-danger" ng-if="street_error"> - {{street_error}}</b></span>
                        <div class="course-input">
                            <autocomplete location="input.location" placeholder="'Street address, P.O. box, company name, c/o.'" mode="'street'"></autocomplete>
                        </div>
                        <div class="course-input z-margin">
                            <input type="text" name="apt" ng-model="input.location.apt" class="full-width" placeholder="Apartment, suite, unit, building, floor, etc. (Not Required)" />
                        </div>
                    </div>
                    <div class="title-input clearfix">
                        <div class="m-session z-margin pull-left">
                            <div class="u-input">
                                <input type="text" name="city" ng-required="true" ng-model="input.location.city" class="full-width" placeholder="City, e.g. San Francisco" />
                            </div>
                        </div>
                        <div class="m-session z-margin pull-right">
                            <div class="u-input">
                                <input type="text" name="state" ng-required="true" ng-model="input.location.state" ng-required="true" class="full-width" placeholder="State, e.g. CA" />
                            </div>
                        </div>
                    </div>
                    <div class="title-input clearfix">
                        <div class="m-session z-margin pull-left">
                            <div class="u-input" style="position:relative">
                                <input type="text" autocomplete="off" name="zipcode" ng-pattern="/[0-9]/" ng-model="input.location.zipcode" ng-required="true" class="full-width" placeholder="Zip Code, e.g. 94105" />
                            </div>
                        </div>
                        <div class="m-session z-margin pull-right">
                            <button type="button" class="btn btn-danger col-xs-3 btn-md col-xs-offset-1" ng-click="save_location()" ng-disabled="locationForm.$invalid || !input.location.street">Preview</button>
                        </div>
                    </div>
                </div>
                </div>
                <div class="section text-center">
                    <button class="btn btn-danger col-xs-3-1 btn-md col-xs-offset-1" type="submit" ng-disabled="createCourseForm.$invalid">Finsh</button>
                </div>
                <div class="section text-center text-danger">
                    <div ng-if="courseForm.title.$invalid &&courseForm.$dirty">* Course name is required</div>
                    <div ng-if="courseForm.poster.$invalid &&courseForm.$dirty">* Poster of course is required</div>
                    <div ng-if="(courseForm.coverForm.$invalid || input.covers.length == 0)&&courseForm.$dirty">* Cover of course is required</div>
                    <div ng-if="courseForm.videoForm.$invalid &&courseForm.$dirty">* Video url is required</div>
                    <div ng-if="courseForm.overview.$invalid &&courseForm.$dirty">* About myself is required</div>
                    <div ng-if="courseForm.course_duration.$invalid &&courseForm.$dirty">* Session length is required</div>
                    <div ng-if="courseForm.rate.$invalid &&courseForm.$dirty">* Session rate is required</div>
                    <div ng-if="courseForm.locationForm.$invalid &&courseForm.$dirty">* Street,City,State is required</div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- footer -->
<div ng-include="'/skillopedia//skillopedia//skillopedia/templates/footer.html'"></div>
