<myresource cs-resource="{'superslides':'/skillopedia/lib/css/superslides.css','index_css':'/skillopedia/lib/css/index.css'}" js-resource="{'easing':'//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js','animate_enhanced':'/skillopedia/lib/js/jquery.animate-enhanced.min.js','superslides':'/skillopedia/lib/js/jquery.superslides.js','main_js':'/skillopedia/lib/js/main.js'}">
</myresource>
<!-- nav -->
<div class="nav">
    <span class="nav-btn">
        Skillpier <i class="fa fa-angle-down hover-spin-reverse" aria-hidden="true"></i>
    </span>
    <div class="nav-action" ng-controller="headerController">
        <span class="signin-btn btn" ng-click="signin()" ng-if="!is_signin()">Sign in</span>
        <span class="signup-btn btn" ng-click="signup()" ng-if="!is_signin()">Sign up</span>
        <a class="signup-btn btn" style="margin-right:30px;" ng-href="#/orders_management" ng-if="is_signin()"> Teach With Skillpier</a>
        <a class="shoppingcart" ng-if="is_signin()" ng-href="#/shoppingcart"><img ng-src="/skillopedia/images/cart.png" alt="" err-src="/skillopedia/images/example_7.png"></a>
        <span class="logout-btn" ng-click="show_menu($event)" ng-if="is_signin()"><img ng-if="user.image_01" ng-src="{{staticImageUrl + user.image_01}}" alt="" err-src="/skillopedia/images/example_7.png" onload></span>
        <div class="dropdown-menu" ng-if="is_signin()">
            <a class="menu-item" ng-href="#/orders">
                <i class="fa fa-user" aria-hidden="true"></i>Orders
            </a>
            <a class="menu-item" ng-href="#/orders_management" ng-if="user.agent_level == '2'">
                <i class="fa fa-bookmark" aria-hidden="true"></i>As a coach
            </a>
            <a class="menu-item" ng-href="#/orders_management" ng-if="user.agent_level == '1'">
                <i class="fa fa-bookmark" aria-hidden="true"></i>Teach With Skillpier
            </a>
            <a class="menu-item" ng-href="#/messages">
                <i class="fa fa-user" aria-hidden="true"></i>Messages
            </a>
            <a class="menu-item" ng-click="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>Sign out
            </a>
        </div>
    </div>
    <div class="dropdown clearfix">
        <div class="dropdown-section">
            <div class="dropdown-title">
                Download For
            </div>
            <div class="info-list">
                <div class="info-item">
                    <i class="fa fa-apple text-big" aria-hidden="true"></i><span class="info-text">Iphone</span>
                </div>
                <div class="info-item">
                    <i class="fa fa-android text-big" aria-hidden="true"></i><span class="info-text">Android</span>
                </div>
            </div>
            <div class="line"></div>
            <span class="or">or</span>
            <img src="/skillopedia/images/qrcode.png" class="qrcode full-width" alt="">
        </div>
        <div class="dropdown-section">
            <div class="dropdown-title">
                Info
            </div>
            <div class="info-list">
                <a class="info-item" ng-href="#/about">About Skillpier</a>
                <a class="info-item" ng-href="#/support">Support</a>
                <a class="info-item" ng-href="#/contact">Contact Us</a>
                <a class="info-item" ng-href="#/services">Terms of Services</a>
                <a class="info-item" ng-href="#/privacy">Privacy Policy</a>
            </div>
            <div class="dropdown-title">
                Follow Us
            </div>
            <div class="info-list">
                <a class="info-item"><i class="fa fa-facebook" aria-hidden="true"></i>Like Us on Facebook</a>
                <a class="info-item"><i class="fa fa-twitter" aria-hidden="true"></i>Follow Us on Twitter</a>
                <a class="info-item"><i class="fa fa-google" aria-hidden="true"></i>Follow Us on Google+</a>
                <a class="info-item"><i class="fa fa-linkedin" aria-hidden="true"></i>Follow Us on Linkedin</a>
            </div>
        </div>
    </div>
    <div class="dropdown-cover hide"></div>
</div>
<!-- slider -->
<!-- <dribehance-slider banners="banners"></dribehance-slider> -->
<div class="flex-box">
  <div class="index-banner">
    <img ng-src="/skillopedia/images/banner-170529.jpg" />
  <!-- search -->
    <div class="wrap search-wrap">
        <div class="search-tit">50% off Grand Open Sale！Use the promotion code 888888 during checkout！</div>
        <form class="search-input" ng-submit="ajaxForm()" name="searchForm" ng-controller="searchFormController">
          <div class="search-outer">
          </div>
          <div class="search-con">
            <div class="search-left">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" class="full-width" ng-model="input.keyword" ng-focus="focus()" ng-blur="blur()" placeholder="Find your private coach or lesson">
              <span class="category-suggestion" ng-if="input.focus && input.categorys.length>0">
                  <span class="suggestion-item" ng-repeat="category in input.categorys" ng-click="select_category(category)">{{category.category_02_name}}</span>
              </span>
            </div>
            <span class="zipcode">
                <autocomplete location="input.location"></autocomplete>
            </span>
            <button class="btn highlight" type="submit">Search</button>
          </div>
        </form>
    </div>
  </div>
</div>
<!-- feature section -->
<div class="wrap index-wrap">
    <div class="section feature-section">
        <div class="feature-item feature-left" ng-click="open_left_feature($event)">
            <div class="feature-inner">
              <img ng-if="sport.image_01" ng-src="/skillopedia/images/banner-sub-01.jpg" class="hvr-grow" err-src="/skillopedia/images/error.jpg" onload alt="">
              <div class="feature-caption">
                  <h1>{{sport.category_01_name}}</h1>
                  <!-- <span>{{sport.category_describe}}</span> -->
              </div>
              <div class="sub-feature">
                  <span class="close_left close" ng-click="close_left($event)"><i class="fa fa-times" aria-hidden="true"></i></span>
                  <div class="sub-feature-{{$index}} circle" ng-repeat="sport_second in sport_seconds track by $index" ng-if="$index<6">
                      <a class="feature-meta hover" ng-click="go_list(sport_second)" title="{{sport_second.category_describe}}">
                          <img ng-if="sport_second.big_image_01" ng-src="{{staticImageUrl + sport_second.big_image_01}}" class="full-width" err-src="/skillopedia/images/error.jpg" onload>
                          <span class="feature-meta-title text-ellipsis">
                              <!-- {{sport_second.category_02_name}} -->
                              {{sport_second.category_describe}}
                          </span>
                      </a>
                  </div>
              </div>
            </div>
        </div>
        <div class="feature-item feature-right" ng-click="open_right_feature($event)">
            <div class="feature-inner">
              <img ng-if="arts.image_01" ng-src="/skillopedia/images/banner-sub-02.jpg" class="hvr-grow" err-src="/skillopedia/images/error.jpg" onload>
              <div class="feature-caption">
                  <h1>{{arts.category_01_name}}</h1>
                  <!-- <span>{{arts.category_describe}}</span> -->
              </div>
              <div class="sub-feature">
                  <span class="close_right close" ng-click="close_right($event)"><i class="fa fa-times" aria-hidden="true"></i></span>
                  <div class="sub-feature-{{$index}} circle" ng-repeat="art_second in art_seconds track by $index" ng-if="$index<6">
                      <a class="feature-meta hover" ng-click="go_list(art_second)" title="{{art_second.category_describe}}">
                          <img ng-if="art_second.big_image_01" ng-src="{{staticImageUrl + art_second.big_image_01}}" class="full-width" err-src="/skillopedia/images/error.jpg" onload>
                          <span class="feature-meta-title text-ellipsis">
                              <!-- {{art_second.category_02_name}} -->
                              {{art_second.category_describe}}
                          </span>
                      </a>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
<!-- block service-->
<div class="wrap service-wrap">
    <div class="section">
        <div class="service-tit">Why Skillpier </div>
         <p>We are the best platform to connect you with our experienced coach who is nearby you, all coaches are verified <br>
and we guarantee the best price you would have, find the one can really <br>
help you anywhere, anytime .</p>
        <div class="service-items">
          <ol class="clearfix">
            <li>
                <i class="icon-1"></i>
                <div class="fig-tit">
                  Coaches You Can Trust
                </div>
                <div class="fig-con">
                 All of our coaches have extensive coaching <br> experience and are required to pass rigorous <br> background checks
                </div>
            </li>
            <li>
                <i class="icon-2"></i>
                <div class="fig-tit">
                  Easy Booking & Payment
                </div>
                <div class="fig-con">
                  Every coaching session can be booked in <br> one minute through Skillpier and all financial <br> transactions are securely processed online
                </div>
            </li>
            <li>
                <i class="icon-3"></i>
                <div class="fig-tit">
                  Satisfaction Guarantee
                </div>
                <div class="fig-con">
                  If you are not satisfied with your sessions, <br> we guarantee 100% money back. <br> Enjoy your sessions without concerns.
                </div>
            </li>
          </ol>
      </div>
   </div>
</div>
<div class="wrap ex-wrap" ng-repeat="hot in hots">
    <div class="section">
      <div class="tit">Recommeded teachers</div>
      <!-- <div class="subtit">A personal profile of a good teacher</div>-->
      <div class="ex-con">
        <ol class="clearfix">
          <li ng-repeat="single in hot.Courses">
            <a ng-href="#/detail?course_id={{single.course_id}}">
              <div class="ex-inner">
                <div class="avatar-box">
                  <div class="img-box" d="{{single}}">
                    <img ng-src="{{staticImageUrl + single.big_coach_image}}" alt="" err-src="/skillopedia/images/error.jpg" onload>
                  </div>
                  <div>{{single.coach_name}}</div>
                </div>
                <div>
                  <p>
                    <span class="bi">“</span>
                    {{single.overview}}
                    <span class="bi bi-2">”</span>
                  </p>
                  <div class="ex-foot">
                    <span>{{single.session_rate|currency:"$"}}</span>
                    <span>
                      <i class="fa fa-map-marker"></i> {{single.area}}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ol>
      </div>
    </div>
</div>
<div class="wrap why-wrap">
    <div class="section">
      <div class="tit">How we work?</div>
      <!--<div class="subtit">A personal profile of a good teacher</div>-->
      <div class="why-con">
        <img ng-src="/skillopedia/images/index-step-banner.png" />
        <ol class="steps">
          <li>
              <div class="s-tit">Search</div>
            <p>Compare instructors fits <br>your need, you will have <br>widely choice from <br>different price,experience <br>and specialty.</p>
          </li>
          <li>
              <div class="s-tit">Schedule</div>
               <p> Make appointment with <br> your instructors in a minute,<br>All real time <br> availability are  <br>provided.<br></p>
          </li>
          <li>
              <div class="s-tit">Enjoy</div>
             <p> Coach will contact you immediately and prepare for the sessions you schedule, the rest you need to do is enjoying your session and find yourself better and better.</p>
          </li>
        </ol>
      </div>
    </div>
</div>
<!-- confirm -->
<confirm confirm="confirm" class="hide"></confirm>
<!-- footer -->
<div ng-include="'/skillopedia/templates/footer_index.html'" style="margin-top:-50px;"></div>
