<div class="dribehance-select">
	<div class="select-option">
		{{options.selected.coupon_name}} <span ng-if="options.selected.coupon_money"><b>/</b></span>

		<b ng-if="options.selected.coupon_money > 0 && options.selected.coupon_type!=3">{{options.selected.coupon_money|currency:"$"}}</b>

		<b ng-if="options.selected.coupon_type==3">{{options.selected.discount * 100}}% off discount</b>


	</div>
	<div class="dribehance-options hide">
		<div class="dribehance-option" ng-click="select({coupon_name:'No coupon available',my_coupon_id:'0'},$event)" ng-if="options.all.length>0">
			No coupon available
		</div>
		<div class="dribehance-option" ng-repeat="op in options.all" ng-click="select(op,$event)" title="{{op.coupon_name}}">
			{{op.coupon_name}}
			<span ng-if="op.coupon_money"><b>/</b></span>

			<b ng-if="op.coupon_money > 0 && op.coupon_type!=3">{{op.coupon_money|currency:"$"}}</b>

			<b ng-if="op.coupon_type==3">{{op.discount * 100}}% off discount</b>


		</div>
	</div>
</div>